@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

a {
  text-decoration: none;
}

code {
  font-family: 'JetBrains Mono', ui-monospace, SFMono-Regular, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
